:root {
    --white: #fff;
    --Quicksand: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--Quicksand);
}
.boxSearchQuery{
    
    width:100%;
    height:fit-content;
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
}
.textBoxSearchItem{
    outline:none;
    padding:15px;
    border-radius:5px;
    width:40%;
    border:none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.buttonAddItem{
    padding:5px;
    font-size:16px;
    border-radius:10px;
    background-color:#fff;
    cursor:pointer;
}
.form-controlArrange{
    padding:5px;
    border-radius:10px;
    background-color:#fff;
    font-size:16px;
}
.form-controlArrange:hover,.buttonAddItem:hover{
     background-color:#2d2a6e;
     color:#fff;
}

.boxSelect{
    display:flex;
    gap:20px;
    align-items:center;
}
.imgProductItemTable{
    width:50px;
    height:50px;
    border-radius:5px;
}
td {
    border-bottom: 1px solid #ccc;
}
tr{
    cursor:pointer;
}
tr:hover {
    background-color: #e6f7ff;
}
th {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    
}
.buttonTotal{
    width:40px;
    height:40px;
    border-radius:100%;
    background-color:#fff;
    cursor:pointer;
}
.totalPage{
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
}
.buttonTotal:hover{
    background-color:#2d2a6e;
    color:#fff;
}
.buttonChoose {
    background-color: #2d2a6e;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}
.formCreateAndFix{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
}
.txtcreate {
    
    width:100%;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 0px 15px 10px;
    font-size: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.tileCreateAndFix{
   
    font-size:28px;
    color:#2d2a6e;
}
.hideInput{
    display:none;
}
.chooseImg{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;

}
.pastChooseImg{
    cursor:pointer;
}
.pastChooseImg:hover{
    color:#0026ff;
}
.textBoxMultiLine {
    margin-top: 20px;
    outline: none;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    border-radius: 15px;
}
.butonSubmitAndCancel{
    margin:20px;
    display:flex;
    justify-content:flex-end;
    align-content:center;
    gap:15px;
}
.submitCreate, .submitCancel {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2d2a6e;
    color: #fff;
}
.submitCancel {
    background-color: #ff0000;
}
.errorFormCreateAndFix{
    color:red;
    font-size:12px;
}
.buttonLook {
    cursor:pointer;
}

