:root {
    --Quicksand: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    font-family: var(--Quicksand);
    background-color: rgba(200, 200, 200, 0.2);
}

.productBody {
    width: 90%;
    margin: 0 auto;
}

.topProduct {
    padding: 15px;
    background-image: url("https://demo037187.web30s.vn/datafiles/web30s/upload/images/7101-7200/30S-03-7130/breadcrumb_bg02.jpg");
    background-size: 100% auto;
}

.linkProduct {
    color: #96ae00;
    font-weight: 500;
    font-size: 14px;
}

.linkHome {
    color: #2d2a6e;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    text-decoration:none;
}

.mainProduct {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.categoryMainProduct {
    list-style-type: circle;
}

.titleCategoryMainProduct {
    width: 100%;
    padding: 10px 0;
    color: #41464c;
    position: relative;
}

    .titleCategoryMainProduct:hover {
        color: #96ae00;
    }

.titleCategoryMainProductHover {
    color: #96ae00;
}

.imgRightMainProduct {
    width: 100%;
    height: 300px;
    background-image: url("https://demo037187.web30s.vn/datafiles/40264/upload/images/banner/banner-1.png");
    background-size: 100% 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentInProduct {
    color: #fc9135;
    margin: 0 0 0 25px;
}

.customCheckboxlist {
    font-size: 18px;
    color: #41464c
}

    .customCheckboxlist input[type="checkbox"] {
        width: 12px;
        height: 12px;
        transform: scale(1.5);
        margin-right: 6px;
    }

.productItems {
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    position: relative;
}

.imgItemProducts {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.inforImgItemProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameNewProducts {
    color: #2d2a6e;
    text-align: center;
}

.priceNewProducts {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.priceSells {
    font-size: 14px;
    color: red;
}

.priceSelleds {
    font-size: 14px;
    color: gray;
}

.listNewProducts {
    margin: 40px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 350px;
    gap: 20px;
}

.pricePromotion {
    border-radius: 5px;
    background-color: #96ae00;
    padding: 5px 10px;
    width: fit-content;
    position: absolute;
    top: 5px;
    right: 5px;
}

.p_promotion {
    color: #fff;
}

.buttonChoose {
    background-color: #2d2a6e;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}

.buttonTotals {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
}

    .buttonTotals:hover {
        background-color: #2d2a6e;
        color: #fff;
    }

.totalPages {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.buttonCategoryProduct {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.buttonDetail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.addOrder {
    cursor: pointer;
    background-color: #fff;
    padding:5px;
    border-radius: 5px;
    border: 1px #808080 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .addOrder:hover {
        background-color: orange;
    }
